{{main-navigation
  onLogout='goHome'
  onLogin='goLogin'
  onRemember='remember'
  rememberMe=rememberMe
  isAuthenticated=(readonly isAuthenticated)
  account=account
}}
<div class='container'>
  {{outlet}}
</div>
